/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$base-font: Open Sans, Helvetica, Arial, sans-serif;
$header-font: Open Sans, Helvetica, Arial, sans-serif;

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */

$brand-color: #D0274D;

$red: #D0274D; // rgb(208,39,77)
$blue: #8ad7da; // rgb (138,215,218)
$yellow: #F9F557; // (249,245,87)
$orange: #E67E22; // (230,126,34)
$green: #50B47D; // (80,180,125)
$gray: #f6f6f6; // (246,246,246)
$black: #1c1717; //(28,23,23)
