.comment {
  font-family: 'Indie Flower', cursive;
}
.translate {
  font-weight:300;
  margin:0;
}

.red_call2action {
  color: white;
  border: solid 1px white;
  background:$brand-color;
}

.red_call2action:hover {
  color: $brand-color;
  border: solid 1px $brand-color;
  background:rgba(255,255,255,0.5);
}

.green_call2action {
  color: white;
  border: solid 1px white;
  background:$green;
}

.green_call2action:hover {
  color: $green;
  border: solid 1px $green;
  background:rgba(255,255,255,0.5);
}

.white_call2action {
  color: $black;
  border: solid 2px white;
  background:white;
}

.white_call2action:hover {
  color: $black;
  border: solid 2px $black;
  background:rgba(255,255,255,0);
}

.empty_call2action {
  color: $black;
  border: solid 2px $black;
  background:rgba(255,255,255,0);
}

.empty_call2action:hover {
  color: $black;
  border: solid 2px white;
  background:white;
}

.hide_for_phone{
  @media screen and (max-width: 767px) {
    display:none;
  }
}

.logo_social_network {
  height:39px;
  width:37px;
  @media screen and (max-width: 767px) {
    padding:7px;
  }
}
.logo_fb{
  content:url("/logo.fb.png");
}
.logo_fb:hover{
  content:url("/logo.fb.black.png");
}
.logo_insta{
  content:url("/logo.insta.png");
}
.logo_insta:hover{
  content:url("/logo.insta.black.png");
}
.logo_youtube{
  content:url("/logo.youtube.png");
}
.logo_youtube:hover{
  content:url("/logo.youtube.black.png");
}
.logo_twitter{
  content:url("/logo.twitter.png");
}
.logo_twitter:hover{
  content:url("/logo.twitter.black.png");
}
