<p>Hi !</p>

<p>We are very happy to welcome you on Pack Your Skills.<br>
You can now fill out your profile and see all the opportunities to come to Paris in November here : www.packyourskills.com/missions<p>
<br>
<p>We hope to hear from you soon,<br>
Have a great day and all the best !</p>

<p>Isis & Maxime</p>
