<div id="packer_and_connection_show" class='global_show'>

  <%= render 'packer_profile' %>

  <section id="application_packer_show" class="section">
    <div class='container container_application'>
      <div class='row row_title'>
        <h2><%= t('packer.show.application.motivation') %></h2>
      </div>
      <div class='row row_placeholder'>
        <p><%= t('packer.show.application.placeholder') %></p>
      </div>
    </div>
  </section>
</div>
