<div id="november">

  <section id="november_banner" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-6 col-sm-6 col-md-offset-7 col-md-5">
          <h1>Pack Your Skills</h1>
          <h1>& Travel to Paris</h1>
          <p>from 5 to 19 Novembre, 2017</p>
        </div>
      </div>
    </div>
    <div class="footer_banner">
      <a href="#november_intro"><%= image_tag "/home.banner.arrow.png", id: 'arrow_banner'  %></a>
    </div>
  </section>

  <section id="november_intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-6">
          <p>Pack Your Skills launch its third and last edition for 2017. Bigger than the 2 first ones, it will have more opportunities for more skills ! Be part of this unique experience.</p>
          <p>You always had a boring november ? In 2017 and thanks to Pack Your Skills...</p>
          <h1>November is the new cool !</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="november_description" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-4 col-sm-8">
          <p><strong>15 days in Paris</strong></p>
          <p>from 5 to 19 November, 2017</p>
          <p><strong>5 skills</strong></p>
          <p>WebMarketing, Webdevelopment, Photo, Video & Graphic Design</p>
          <p><strong>8 kinds of tasks</strong></p>
          <p>Create a graphic design, take pictures, record and edit a video, initiate an adwords campaign, boost the SEO, improve an UX, code a static website with CMS</p>
          <p><strong>15 opportunities</strong></p>
          <p>in 15 mission driven project</p>
          <p><strong>3+ events</strong></p>
          <p>Meet-up, Tour of alternetive Paris, Drinks</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Users Part -->
  <section id="november_call2action" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Be part of this unique adventure !</h1>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_left'>
              <%= image_tag "/home.crews.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong>Crews</strong></p>
              <p>You have a mission driven project in Paris, you need skills, you want to break your monotony, you would like to host a traveller ?</p>
              <a class="white_call2action" href="#" role="button">Receive a Packer</a>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_right '>
              <%= image_tag "/home.packers.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong>Packers</strong></p>
              <p>You want to be impactfull, you want to gain experience in a new country, you want to discover Paris as a local, you want to discover social entrepreneurship ? </p>
              <a class="white_call2action" href="#" role="button">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Users Part -->
  <!-- Social Media Part -->
  <section id="november_social_network" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-offset-2 col-sm-3">
          <p><strong>Follow more :</strong></p>
        </div>
        <div class="col-xs-1">
          <a href="https://www.instagram.com/packyourskills/" target="_blank" class="logo_social_network logo_insta"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.facebook.com/PackYourSkills/" target="_blank" class="logo_social_network logo_fb"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://twitter.com/packyourskills" target="_blank" class="logo_social_network logo_twitter"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.youtube.com/playlist?list=PLTAYKibpcTw9u8f5zMHd6su4UrfOO9611" target="_blank" class="logo_social_network logo_youtube"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Social Media Part -->

</div>
