.box {
  height:auto;
  width:100%;
  padding: 5px;
  margin: 5px 5px;

  border-radius: 4px;
  background-color:white;

  background-size: cover !important;
  background-position:center;

  position: relative;
  align-items: center;
  justify-content: center;
  text-align:center;
//  overflow: hidden;
}

.box_ratio_1_1{
  position: relative;
  width: 100%; /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_1:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}
