.card_mission {
  height:250px;
  width:100%;
  margin:10px 0px;
  position: relative;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

  a {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  a:hover{
    background-color:rgba(255,255,255,0.3);
  }
  .banner_card_mission {
    position: relative;
    height:125px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    .box {
      width:80px;
    }
  }
  .info_card_mission {
    padding:5px;
    p {
      @media screen and (min-width: 992px) {font-size:14px;}
      @media screen and (min-width: 768px) and (max-width: 991px) {font-size:12px;}
      @media screen and (max-width: 767px) {font-size:10px;}
    }
  }
}
