<section id="banner" class="banner" >
  <div class="banner_content">
    <h1>MISSION EDIT</h1>
  </div>
</section>
<section id="mission_form" class="form">
  <div class="container_form">
    <%= render 'form' %>
  </div>
</section>
