<h2>List of missions</h2>

<% @missions.each_with_index do |mission, index| %>
  <p><%= index %> - <%= mission.title %> <%= mission.crew.name %></p>
  <p><%= link_to "See details", mission_path(mission.id) %></p>

<% end %>
